@import 'global';

body {
  margin: 0;
  font-family: $font-family;
  color: $text-dark;
}
.world-wrapper {
	margin: 0;
	padding: 0;
	position: relative;
	display: grid;
	overflow: hidden;
	height: 100vh;
	max-height: calc(var(--vh, 1vh) * 100);
}