$light-bg: rgba(223, 246, 255, 1);
$primary: rgba(52, 152, 219, 1);
$text-light: rgba(255, 255, 255, 1);
$text-dark: rgba(52, 73, 94, 1);
$border-color: rgba(189, 195, 199, 1);
$box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
$font-family: 'Montserrat', sans-serif;